@charset "utf-8";

#exercises {
    text-align: center;
    padding-top: 12%;
}

#exercises #exerciseSelectionTitle {
    font-size: 1.25em;
    position: absolute;
    display: block;
    top: 12%;
    left: 0;
    right: 0;
    margin: 0 auto;

    -webkit-text-fill-color: black;
}

#exercises #exerciseList{
    position: absolute;
    display: block;
    list-style-type: none;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 70%;
    height: auto;
    overflow: visible;
}

#exercises #exerciseList > * {
    -webkit-text-stroke-color: black;
    -webkit-text-fill-color: black;
    border: 4px ridge black;
    background: white;
    width: auto;
}

#exercises #exerciseList > *:hover {
    -webkit-text-stroke-color: black;
    -webkit-text-fill-color: white;

    /*background: #FF3300;*/
    background: #1a82f7;
}

