#exerciseClearedScreen {
    padding-top: 10%;
    text-align: center;

    -webkit-animation-name: helloWord;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-duration: 0.5s;
    -webkit-animation-direction: normal;
    -webkit-animation-play-state: running;
    -webkit-animation-timing-function: ease;

    background: -webkit-radial-gradient(center, ellipse cover, rgba(31, 223, 61, 1) 0%,rgba(101,189,247,0) 100%); /* Chrome10+,Safari5.1+ */

}

#exerciseClearedScreen-starsCollected {

}

#exerciseClearedScreen .title {
    display: block;
    font-size: 2em;
    text-align: center;
    width: auto;
    margin-right: auto;
    margin-left: auto;
    font-family: grobold;
}

#exerciseClearedScreen .title span:first-child {
    display: block;
    position: relative;
    margin: 0 auto;

    -webkit-animation-name: textShadow;
    -webkit-animation-duration: 1200ms;
    -webkit-animation-play-state: running;
    -webkit-animation-direction:  normal;
    -webkit-animation-iteration-count:  1;
    -webkit-animation-timing-function:  ease;
}

#exerciseClearedScreen .title span:last-child {
    display: block;
    position: relative;
    margin: 0 auto;
    font-size: 1.5em;
    margin-top: -0.2em;
    text-shadow: none;

    background-color: rgba(31, 223, 61, 1);
    -webkit-background-clip: text;
    -webkit-text-stroke: 0.05em black;
    -webkit-text-fill-color: transparent;
    text-shadow: 0.05em 0.075em 0.025em rgba(0,0,0,0.25) !important;
}

/*#exerciseClearedScreen .title span:last-child::after {*/
    /*content: "!";*/
    /*position: absolute;*/
/*}*/

#exerciseClearedScreen .grade {
    font-size: 3em;
    margin-top: -0.75em;
    font-family: grobold;
    display: block;
    position: relative;

    background-color: #FF3300;
    -webkit-background-clip: text;
    -webkit-text-stroke: 0.05em black;
    -webkit-text-fill-color: transparent;
    text-shadow: 0.05em 0.075em 0.025em rgba(0,0,0,0.25) !important;
}

#exerciseClearedScreen .grade::after {
    content: "%";
    display: inline-block;
    position: relative;

    background-color: #FF3300;
    -webkit-background-clip: text;
    -webkit-text-stroke: 0.05em black;
    -webkit-text-fill-color: transparent;
    text-shadow: 0.05em 0.075em 0.025em rgba(0,0,0,0.25) !important;
}

#exerciseClearedScreen .score {

}

#exerciseClearedScreen .star {

}

#exerciseClearedScreen .stats {
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-size: 2.5em;
    text-align: left;
    width: 10em;
}